body{
    background-color: rgb(85, 158, 165);
    color: white;
}
h2{
    color: rgb(8, 116, 62);
}
a {
    color:rgb(211, 21, 211)
}
.header {
    text-align: center;
}
.footer{
    text-align: center;
    background-color: aquamarine;
}