body {
    background-color: aqua;
}
h1 {
    color: brown;
}
.slt {
background-color: lightgreen;
font-size: 24px;
}
#one{
    color: bisque; 
}
#two{
    color: blueviolet;
}
#three{
    color: chocolate;
}